@import url("reset.css");

body {
  min-width: 320px;
  max-width: 1374px;
  margin: 0 auto;
  background-color: rgba(20, 20, 20, 1);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

a {
  color: rgba(255, 255, 255, 1);
}

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}

header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  padding: 60px 20px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  gap: 40px;
}

header address {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer {
  grid-area: footer;
  height: 340px;
  background: no-repeat bottom center url("../images/sky-fon.jpg");
  transform: rotate(180deg);
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "first-half-of-selected-projects"
    "second-half-of-selected-projects"
    "first-half-of-other-projects"
    "second-half-of-other-projects"
    "."
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto) 60px 340px;
  margin: 0 auto;
  padding-top: 340px;
  background: url("../images/sky-fon.jpg") top center no-repeat;
}

#company-title {
  font-family: "Russo One", sans-serif;
  font-size: 40px;
  line-height: 40px;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-content: center;
  padding: 0 24px;
  background-color: rgba(194, 195, 197, 1);
  color: rgba(0, 0, 0, 1);
}

section figure {
  margin: 60px 16px 0;
  cursor: pointer;
}

section figcaption {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 4px 16px;
  background-color: rgba(255, 255, 255, 1);
  font-size: 12px;
}

#first-half-of-selected-projects {
  grid-area: first-half-of-selected-projects;
}

#second-half-of-selected-projects {
  grid-area: second-half-of-selected-projects;
}

#first-half-of-other-projects {
  grid-area: first-half-of-other-projects;
}

#second-half-of-other-projects {
  grid-area: second-half-of-other-projects;
  padding-bottom: 60px;
}

.line {
  display: none;
  width: 100%;
  height: 16px;
  margin-top: 32px;
  background-color: rgba(222, 223, 225, 1);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(225, 225, 225, 0.95);
  animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal img {
  height: 80vh;
  object-fit: cover;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.closeButton:hover {
  color: rgba(0, 0, 0, 1);
}

@media (min-width: 844px) {
  .container {
    grid-template-areas:
      "first-half-of-line header second-half-of-line "
      "first-half-of-selected-projects header second-half-of-selected-projects "
      "first-half-of-other-projects header second-half-of-other-projects "
      ". header ."
      "footer footer footer";
    grid-template-columns: 1fr 232px 1fr;
    grid-template-rows: 80px auto auto 32px 340px;
  }

  header {
    align-self: start;
    position: sticky;
    top: 0;
    height: 880px;
    padding: 20px;
    background-image: linear-gradient(
        to bottom,
        rgba(22, 23, 27, 0.9) 0%,
        rgba(37, 37, 41, 0.4) 50%,
        rgba(14, 15, 19, 0.9) 100%
      ),
      url("../images/steel-fon.jpg");
  }

  section {
    grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
  }

  section figure img {
    filter: grayscale(50%);
  }

  section figure img:hover {
    filter: grayscale(0%);
  }

  .first-half {
    justify-self: flex-end;
  }

  .line {
    display: block;
  }

  #first-half-of-other-projects {
    padding-bottom: 60px;
  }
}

@media (min-width: 1280px) {
  section {
    max-width: 512px;
  }
}
