@import url("reset.css");

body {
  background-color: rgba(20, 20, 20, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

header {
  grid-area: header;
  position: sticky;
  align-self: start;
  top: 0;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-image: linear-gradient(
      to bottom,
      rgba(22, 23, 27, 0.9) 0%,
      rgba(37, 37, 41, 0.4) 50%,
      rgba(14, 15, 19, 0.9) 100%
    ),
    url("../images/steel-fon.jpg");
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

header address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer {
  background: no-repeat bottom center url("../images/sky-fon.jpg");
  transform: rotate(180deg);
  height: 340px;
}

a {
  color: rgba(255, 255, 255, 1);
}

h1 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-areas:
    "top top top"
    "left header right";
  grid-template-columns: 1fr 232px 1fr;
  grid-template-rows: 340px 1fr;
  margin: 0 auto;
  max-width: 1374px;
  min-height: 100vh;
}

#top {
  grid-area: top;
  height: 340px;
  width: 100%;
  margin: 0 auto;
  background: no-repeat top center url("../images/sky-fon.jpg");
}

#company_title {
  font-family: "Russo One", sans-serif;
  font-size: 40px;
  line-height: 40px;
}

#left {
  grid-area: left;
}

#right {
  grid-area: right;
}

#left .main {
  margin-left: 60px;
}

#right .main {
  margin-right: 60px;
}

.main {
  background-color: rgba(194, 195, 197, 1);
  color: rgba(28, 28, 28, 1);
  margin: 32px 0;
  padding: 60px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 60px 32px;
  width: 512px;
}

.line {
  background-color: rgba(222, 223, 225, 1);
  height: 20px;
  width: 100%;
  margin: 32px 0;
}

.main figure {
  width: 200px;
}

.main figure img {
  filter: grayscale(40%);
}

.main figcaption {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 4px 16px;
  font-size: 14px;
}
